@font-face {
    font-family: 'mainFont';
    src: url(../fonts/mainFont/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'secondaryFont';
    src: url(../fonts/secondaryFont/DancingScript-VariableFont_wght.ttf);
}

html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    color:white;
}

.container {
display: grid;
width: 100vw;
height: 100vh;
background-image:url('../images/background.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:center;
filter:opacity(.5);
}

