@font-face {
    font-family: 'mainFont';
    src: url(../fonts/mainFont/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'secondaryFont';
    src: url(../fonts/secondaryFont/DancingScript-VariableFont_wght.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color:white;
}

.container {
display: grid;
gap:4rem;
align-content: start;
justify-content: center;
min-height: 90vh;
background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/background.jpg");

background-repeat:no-repeat;
background-position:center;
}

.container >h1 {
    color:white;
    font-family:'secondaryFont';
    font-size:5rem;
    justify-self: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap:2rem;
    width: 100%;
    padding: 0 1rem;
    max-width: 30rem;
    justify-self: center;
}

button {
    font-family: 'mainFont';
    color: white;
    background-color: transparent;
    font-size:1.5rem;
    border: none;
    width: min-content;
    transition: .3s;
    /* border-bottom: .1em solid white; */
    cursor: pointer;
}

.activeButton {
    border-bottom: 1px solid white;
}

button:hover {
    font-weight: bold;
    transform: scaleX(1.2);
}

.page {
    background-color: rgba(250,250,250,0.2);
    width: 60vw;
    justify-self: center;
    font-size: 1.3rem;
    line-height: 1.2;
    border-radius: 2rem;
}

.homePage::first-letter {
    font-family: 'secondaryFont';
    font-size: 3rem;
    font-weight: bold;
    float: left;
    margin-bottom:-10px;
    margin-right: 5px;
}

.homePage {
    padding: 2rem;
}
.homePage h3 {
    text-align: center;
    margin:2rem 0 1rem 0;
    font-size: 1.7rem;
    text-decoration: underline;
}

.homePage>div p:nth-child(odd) {
    margin: .2rem 0 .2rem 60%;
}

.homePage>div p:nth-child(even) {
    text-align: end;
    margin: .2rem 60% .2rem 0rem;
}

.homePage>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0;
}

.menuContainer>div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 1rem;
}

.menuContainer>div>p {
    grid-column: span 2;
    width:100%;
}

.menuContainer h3 {
    font-family: 'secondaryFont';
    font-size:2rem;
}

.menuContainer h4 {
    justify-self: end;
    align-self: end;
}

.menuContainer>div:nth-child(odd) {
    background-color: rgba(250,250,250,0.6);
    color:black;
}

.menuContainer>div:nth-child(even) {
    background-color: rgba(0,0,0,0.6);
    color:white;
}
.menuHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.menuPageNote {
 text-align: center;
 text-decoration-line: underline;
 font-weight: lighter;
 margin: 1rem;
}

.menuPageWishes {
margin: 1rem;
text-align: center;
font-family: 'secondaryFont';
font-size: 2rem;
}

.contactPage {
    display:grid;
    grid-auto-flow: row;
    padding: 2rem;
    gap:1rem;

}

.contactPage h3 {
    text-align: center;
    font-size: 2.5rem;
}
.contactPage adress>p {
    font-style: italic;
    margin-left:calc(3rem + 15vw);
    margin-bottom: .5rem;
}
.contactPage p:first-child {
    font-family: 'secondaryFont';
    font-weight: bold;
    font-size: 2rem;

}

.contactPage iframe {
    width:80%;
    justify-self: center;
    max-width: 30rem;
    aspect-ratio: 1;
}
.telContainer {
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-top:1rem;
    font-size:1.5rem;
}
.telContainer>span {
    align-self: center;
    font-size: 1.4rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap:calc(.5rem + 2vw);
    width: 50%;
    justify-self: center;
    padding-top: 1rem;
}
.facebook,
.twitter,
.instagram {
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;
    transform-origin: bottom;
}

.facebook:hover {
    color:rgb(9,126,236);
    transform: scale(1.1);
}

.twitter:hover {
    color:rgb(29,155,240);
    transform: scale(1.1);
}
.instagram:hover {
    color:#E1306C;
    transform: scale(1.1);
}

.container>div:first-child {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: end;
}

.googleMap {
    filter:grayscale(100%);
}